{% extends "base.html" %}

{% block title %} Blog Page {% endblock %}

{% block content %}
    <h1> Blog Us</h1>
    {% regroup students by class as grouped_students %}
    <ul>
        {% for groupin grouped_students %}
            <li> Class{{ group.grouper }}
                <ul>
                    {% for student in group.list %}
                        <li>{{ student.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}